
{#    {% for movie in last_movies %}#}
{#        <img src="{{ movie.poster.url }}">#}
{#        <a href="{{ movie.get_absolute_url }}">{{ movie.title }}</a>#}
{#    {% endfor %}#}

    <h3 class="my-4">Премьеры месяца:</h3>

    <div class="row">
        {% for movie in last_movies %}
            <div class="col-md-3 col-sm-6 mb-4">
                <a href="{{ movie.get_absolute_url }}">
                    <img class="img-fluid" src="{{ movie.poster.url }}" alt="">
                </a>
            </div>

{#            <div class="col-md-3 col-sm-6 mb-4">#}
{#                <a href="{{ movie.get_absolute_url }}">#}
{#                    <img class="img-fluid" src="{{ movie.poster.url }}" alt="">#}
{#                </a>#}
{#            </div>#}
{#            <div class="col-md-3 col-sm-6 mb-4">#}
{#                <a href="{{ movie.get_absolute_url }}">#}
{#                    <img class="img-fluid" src="{{ movie.poster.url }}" alt="">#}
{#                </a>#}
{#            </div>#}
{##}
{#            <div class="col-md-3 col-sm-6 mb-4">#}
{#                <a href="{{ movie.get_absolute_url }}">#}
{#                    <img class="img-fluid" src="{{ movie.poster.url }}" alt="">#}
{#                </a>#}
{#            </div>#}
        {% endfor %}
</div>