{% extends 'base.html' %}
{% load static %}
{% block title %}
    Онлайн кинотеатр
{% endblock title %}

{% block content %}

    <!-- Page Content -->
    <div class="container">
        <br>

        <div class="row">
            {% for movie in movie_list %}
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="{% url 'movie_detail' movie.url %}"><img class="card-img-top" src="{{ movie.poster.url }}" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="{% url 'movie_detail' movie.url %}">{{ movie.title }}</a>
                            </h4>
                            <p class="card-text">Год выпуска: {{ movie.year }}</p>
                            <p class="card-text">Страна:
                                {% for country in movie.country.all %}
                                    {{ country.title }}
                                {% endfor %}
                            </p>
                            <p class="card-text">Жанр:
                                {% for genre in movie.genres.all %}
                                    {{ genre.name }}
                                {% endfor %}
                            </p>
                            <p class="card-text">Режиссер:
                                {% for director in movie.director.all %}
                                    <a href="{% url 'participant_detail' director.url %}">{{ director.name }}</a>
                                {% endfor %}
                            </p>
                            <p class="card-text">Актеры:
                                {% for actor in movie.actors.all %}
                                    <a href="{% url 'participant_detail' actor.url %}">{{ actor.name }}</a>
                                {% endfor %}
                            </p>
{#                            <p class="card-text">Рейтинг:#}
{#                                {% for source, assessment in movie.ratings.items %}#}
{#                                    <ul>#}
{#                                        {% if source == 'kinopoisk' %}#}
{#                                            <li>Кинопоиск: {{ assessment }}</li>#}
{#                                        {% elif  source == 'imdb' %}#}
{#                                            <li>IMDb: {{ assessment }}</li>#}
{#                                        {% endif %}#}
{#                                    </ul>#}
{#                                {% endfor %}#}
{#                            </p>#}
                            <p class="card-text">Описание:</p>
                            <dd class="text-truncate">{{ movie.description }}</dd>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- /.row -->
        <div class="pagination">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Назад</a>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Назад</a>
                        </li>
                    {% endif %}

                    {% for page in paginator %}
                        {% if page_obj.number == page.number %}
                            <li class="page-item active"><a class="page-link" href="?page={{ page.number }}">{{ page.number }} </a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ page.number }}">{{ page.number }} </a></li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Вперед</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">Вперед</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>

        {#<div class="pagination">#}
        {#    <span class="step-links">#}
        {#        {% if page_obj.has_previous %}#}
        {#            <a href="?page=1">&laquo; first</a>#}
        {#            <a href="?page={{ page_obj.previous_page_number }}">previous</a>#}
        {#        {% endif %}#}
        {##}
        {#        <span class="current">#}
        {#            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.#}
        {#        </span>#}
        {##}
        {#        {% if page_obj.has_next %}#}
        {#            <a href="?page={{ page_obj.next_page_number }}">next</a>#}
        {#            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>#}
        {#        {% endif %}#}
        {#    </span>#}
        {#</div>#}
        <!-- Features Section -->
        <hr>
        <form action="{% url 'filter' %}" method="get">
            <ul>
                <label class="mr-sm-3" for="inlineFormCustomSelect">Жанр:</label>
                {% for genre in view.get_genres %}
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="genre" name="genre" value="{{ genre.id }}">
                        <label class="form-check-label" for="inlineCheckbox1">{{ genre.name }}</label>
                    </div>
                {% endfor %}
            </ul>

            <ul>
                <div class="form-row align-items-center">
                    <div class="col-auto my-1">
                        <label class="mr-sm-2" for="inlineFormCustomSelect">Год выпуска:</label>
                        <select class="custom-select mr-sm-2" id="year" name="year">

                            <option selected></option>
                            {% for movie in view.get_years %}
                                <option value="{{ movie.year }}">{{ movie.year }}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>
                <div class="form-row align-items-center">
                    <div class="col-auto my-1">
                        <button type="submit" class="btn btn-primary mb-2">Искать ...</button>
                    </div>
                </div>
            </ul>

        </form>
        <hr>
        <div class="row">
            <div class="col-lg-6">
                <h2>Предупреждение:</h2>
                <p>Данный проект не нарушает:</p>
                <ul>
                    <li>
                        <strong>Законодательство РФ</strong>
                    </li>
                    <li>Законодательство Гондураса</li>
                    <li>Авторское право</li>
                    <li>Право на частную собственность</li>
                    <li>Право на тайну переписки</li>
                    <li>Право на свободу совести</li>
                    <li>Все права, которые только можно придумать</li>
                </ul>
                <p>Вся представленная информация выложена в ознакомительных целях и получена из открытых источников.</p>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid rounded" src="{% static 'img/Python.jpg' %}" alt="">
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="row mb-4">
            <div class="col-md-8">
                <p><h6>Не можете больше ждать?! Переходите в библиотеку фильмов и наслаждайтесь просмотром.</h6></p>
            </div>
            <div class="col-md-4">
                <a class="btn btn-lg btn-secondary btn-block" href="{% url 'movies' %}">К списку всех фильмов</a>
            </div>
        </div>

    </div>
    <!-- /.container -->
{% endblock %}