{% extends 'base.html' %}
{% load embed_video_tags %}
{#{% load movie_tag %}#}
{% block title %}
    {{ movie.title }}
{% endblock title %}

{% block content %}

    <div class="container">

    <div class="card my-4">
        <div class="row">

            <div class="col-md-3">
                <img class="img-fluid" src="{{ movie.poster.url }}" alt="">
            </div>

            <div class="col-md-9">
                <h3 class="my-3">Информация: </h3>
                <ul>
                    <li>Жанр:
                        {% for genre in movie.genres.all %}
                            {{ genre.name }}
                        {% endfor %}
                    </li>
                    <li>Год: {{ movie.year }}</li>
                    <li>Страна:
                        {% for country in movie.country.all %}
                            {{ country }}
                        {% endfor %}
                    </li>
                    <li>Бюджет: {{ movie.budget }} $</li>
                    <li>Режиссер:
                        {% for director in movie.director.all %}
                            <a href="{% url 'participant_detail' director.url %}">{{ director.name }}</a>
                        {% endfor %}
                    </li>
                    <li>Актеры:
                        {% for actor in movie.actors.all %}
                            <a href="{% url 'participant_detail' actor.url %}">{{ actor.name }}</a>
                        {% endfor %}
                    </li>

                    <li><p class="card-text">Рейтинг:
                        {% for source, assessment in movie.ratings.items %}
                            <ul>
                                {% if source == 'kinopoisk' %}
                                    <li>Кинопоиск: {{ assessment }}</li>
                                {% elif  source == 'imdb' %}
                                    <li>IMDb: {{ assessment }}</li>
                                {% endif %}
                            </ul>
                        {% endfor %}
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3 class="my-3">Описание: </h3>
                <blockquote class="blockquote text-center">{{ movie.description }}</blockquote>
            </div>
        </div>
    </div>
    <div class="container">
       <div class="center-block" align="center">
        {% if movie.video %}
            <iframe width="560" height="315" src="{{ movie.video }}" frameborder="0" allowfullscreen></iframe>
        {% endif %}
    </div>
    </div>
{#    <iframe width="560" height="315" src="https://www.youtube.com/embed/9FR_B-73ASo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}

        <form action="{% url 'add_review' movie.id %}" method="post">
            {% csrf_token %}
            <div class="card my-4">
                <h5 class="card-header">Оставить комментарий о фильме</h5>
                <div class="card-body">
{#                    <form>#}
                        <div class="form-group">
                            <div class="form-group row">
                                <label for="inputComment" class="col-sm-2 col-form-label">Комментарий:</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="text"></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputName" class="col-sm-2 col-form-label">Имя:</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" name="name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail" class="col-sm-2 col-form-label">Email:</label>
                                <div class="col-sm-10">
                                    {#                                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">#}
                                    <input class="form-control" type="email" name="email">
                                </div>
                            </div>
                        </div>

{#                    </form>#}
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </div>
            </div>
        </form>

        {% for review in movie.review_set.all %}
            <div class="media mb-4">

                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">

                    <h5 class="mt-0">Имя: {{ review.name }}</h5>
                    Комментарий: {{ review.text }}
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}